<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.konektedi.vs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".student.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".home.elections.ElectionView"
            android:label="@string/title_activity_election_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".home.results.ResultsView"
            android:label="@string/title_activity_results_view"
            android:parentActivityName=".home.elections.ElectionView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.home.elections.ElectionView" />
        </activity>
        <activity
            android:name=".motions.MotionsView"
            android:label="@string/title_activity_motion_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.MainActivity" />
        </activity>
        <activity
            android:name=".home.candidates.Candidates"
            android:label="@string/title_activity_candidates"
            android:parentActivityName=".home.elections.ElectionView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.home.elections.ElectionView" />
        </activity>
        <activity
            android:name=".home.candidates.Profile"
            android:label="@string/title_activity_candidate_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".motions.Participate"
            android:label="@string/title_activity_participate"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.MainActivity" />
        </activity>
        <activity
            android:name=".motions.opinions.OpinionsActivity"
            android:label="@string/title_activity_opinions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".student.StudentProfile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.MainActivity" />
        </activity>
        <activity
            android:name=".student.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.MainActivity" />
        </activity>
        <activity
            android:name=".news.NewsView"
            android:label="@string/title_activity_news_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.MainActivity" />
        </activity>
        <activity
            android:name=".home.reviews.ReviewsActivity"
            android:label="@string/title_activity_reviews"
            android:parentActivityName=".home.elections.ElectionView"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.home.elections.ElectionView" />
        </activity>
        <activity
            android:name=".other.SupportActivityMain"
            android:label="@string/title_activity_support"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.MainActivity" />
        </activity>
        <activity
            android:name=".other.HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>