<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.konektedi.vs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Student.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Home.Elections.ElectionView"
            android:label="@string/title_activity_election_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home.Results.ResultsView"
            android:label="@string/title_activity_results_view"
            android:parentActivityName=".Home.Elections.ElectionView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.Home.Elections.ElectionView" />
        </activity>
        <activity
            android:name=".Motions.MotionsView"
            android:label="@string/title_activity_motion_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.MainActivity" />
        </activity>
        <activity
            android:name=".Home.Candidates.Candidates"
            android:label="@string/title_activity_candidates"
            android:parentActivityName=".Home.Elections.ElectionView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.Home.Elections.ElectionView" />
        </activity>
        <activity
            android:name=".Home.Candidates.Profile"
            android:label="@string/title_activity_candidate_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Motions.Participate"
            android:label="@string/title_activity_participate"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.MainActivity" />
        </activity>
        <activity
            android:name=".Motions.Opinions.OpinionsActivity"
            android:label="@string/title_activity_opinions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.StudentProfile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.MainActivity" />
        </activity>
        <activity
            android:name=".Student.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.MainActivity" />
        </activity>
        <activity
            android:name=".News.NewsView"
            android:label="@string/title_activity_news_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.konektedi.vs.MainActivity" />
        </activity>
    </application>

</manifest>